# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/mainobjc
/maincpp
# auto generated
DlShogiResnet15x224SwishBatch.mlmodelc
DlShogiResnet15x224SwishBatch.m
DlShogiResnet15x224SwishBatch.h
